/* .mx-auto.create-new-button{
  margin: 1rem;
  border-radius: 5rem;
  display: inline;
} */
.btn.btn-primary {
  background-color: #f4511e;
  border:none;

}
.list-group-item.active{
  background-color: #f4511e;
    opacity: 1 !important;
  border: none;

}

h2 {
  text-transform: capitalize;
}

div.card.inner-card{
  opacity: .88;
}

div.col-sm {
  opacity: .88;
}

p.list-group-item {
  text-transform: capitalize;
  cursor: pointer;
}
.list-group-item.no-cursor{
  cursor: default;
}

.create-new-button {
  border-radius: 4px;
  opacity: .88;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.1rem;
  padding: 20px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.create-new-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.create-new-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.create-new-button:hover span {
  padding-right: 25px;
}

.create-new-button:hover span:after {
  opacity: 1;
  right: 0;
}

.eighty {
  width: 80%;
  margin: auto;
}

.fifty {
  width: 50%;
  margin: auto;
}

.thirty {
  width: 30%;
}